@using Database;
@using TheApp.Data;
@using System.Collections.ObjectModel;

<ul>
    @foreach (var dude in Dudes)
    {
        <li style="display: flex; justify-content: space-around;">
            <p>
                <span>@dude.Name</span>
                <span>@(dude.AreTheyACoolDude ? "😎" : "😭")</span>
            </p>
            <button @onclick="(e => DeleteADude(dude))">X</button>
        </li>
    }
</ul>

@code {
    [Parameter] public ObservableCollection<CoolDude> Dudes { get; set; }
    [Parameter] public Func<CoolDude, Task> DeleteADude{ get; set; }
}
