@inherits LayoutComponentBase

<div class="page">
    <main style="height: 78vh">
        <div class="top-row px-4">
            <span style="font-weight: bold; text-align: left;">Flooter</span>
        </div>

        <article class="content px-4" style="height: 100%;">
            @Body
        </article>
    </main>
</div>
